body{
    width: 100%;
   
    margin:0;
    padding: 0;
    
}
.block-caption {
    font-size: 20px;
    margin: 40px 0 20px 0;
    text-transform: uppercase;
    color:#276678;
    font-weight: bold;
}
.custom-tabs-container {
    width: 100%;
}
.custom-tabs {
    border-top-left-radius: 3px;
    background-color: #fff;
    padding: 0px;
    margin-bottom:10px;
    
}
/*
.custom-tab {
    color:#276678;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-top: 3px solid transparent !important;
    border-left: 0px !important;
    border-right: 0px !important;
    border-bottom: 0px !important;
    background-color: #fafbfc;
    padding: 12px !important;
    font-family: "system-ui";
    display: flex !important;
    align-items: center;
    justify-content: center;
}
.tabs {
    text-align: center;
    height:40px;
    padding:10px;
    margin:10px 0px;
    line-height: 0;
}
*/
.tab-icon {
    font-size:15px;
    padding:10px;
    color: #1687a7;
   
}
.custom-tab--selected {
    color:#276678;
    box-shadow: 1px 1px 0px white;
    border-left: 1px solid lightgrey !important;
    border-right: 1px solid lightgrey !important;
    border-top: 3px solid #e36209 !important;
}


.text-content {
    text-align: justify;
    font-size: 18px;
    margin: 5px;
}

.text-content-title {
    font-size: 20px;
    margin: 40px 0 20px 0;
    text-transform: uppercase;
    font-style: normal
}

.avatar-container {
    display: flex;
    margin: 20px;
    justify-content: center;
    flex-wrap: wrap;
}
.avatar {
    width: 50%;
    margin: 10px;
    box-shadow: 0px 4px 5px rgb(96 160 147 / 0.4);
    border-radius: 50%;
    width:  100px;
    height: 100px;
    object-fit: cover;
}

.social-link {
    font-size:30px;
    padding:5px;
    text-decoration:none;
    color: #1687a7;
}

.header-style {
    background-color: #fff;
    color:#1687a7
}


.header-links{
    font-size: 16px;
    padding: 5px;
    text-decoration: none;
    color:#276678
}

.box {
    background-color:rgb(249 249 249);
    padding: 10px;
    margin: 5px;
}


.AboutUs {
    background-color:#fff;
    padding:5px 0px;
    margin: 0px;
    text-align:center;
    color:#276678;
}

.section {
    /*rgb(249 249 249);*/
    padding:0px 0px;
    margin: 0px;
    text-align:center;
    
}
.objective-H2{
    padding:2px;
    font-size:20px;
    font-weight:bold;
}
.objective-overlay{
    background: rgba(49,55,61,0.3);
    width: 100%;
    height: 200px; 
    padding:5px
}
.objective-overlay-img {
    background-image: url('../assets/objective.jpg');
    -webkit-background-size: cover;
       -moz-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
    color: #FFF;
    height:200px;
}

.border-style{
    border-style: outset;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 1px 1px;
    margin-top:50px;
}

.table {
    margin-top: 20px;
    text-align: center;
}
.prediction-text{
    font-weight:bold;
    font-size:30px;
    color:#1687a7;
    text-align:center;
}
.prediction-bar {
    text-align: center;
}


.overlay {
    background: rgba(49,55,61,0.3);
    width: 100%;
    height: 300px;
    
}

.overlay-img {
    background-image: url('../assets/overlay-img.jpg');
    -webkit-background-size: cover;
       -moz-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
    color: #FFF
}

.banner {
    text-align: center;
    padding: 92px;
}

.footer {
    text-align: center;
    background-color: #1687a7;
    color: #FFF;
    bottom: 0;
}


