.block-caption {
    font-size: 20px;
    margin: 40px 0 20px 0;
    text-transform: uppercase;
    color:#60a093;
    font-style: normal
}

.tabs {
    text-align: center;
    background-color:rgb(249 249 249);
    padding:10px
}

.text-content {
    text-align: justify;
    font-style: normal
}

.text-content-title {
    font-size: 20px;
    margin: 40px 0 20px 0;
    text-transform: uppercase;
    font-style: normal

}
.avatar-container {
    display: flex;
    margin: 20px;
    justify-content: center;
    flex-wrap: wrap;
}
.avatar {
    width: 50%;
    margin: 10px;
    box-shadow: 0px 4px 5px rgb(96 160 147 / 0.4);
    border-radius: 50%;
    height: 100;
    width:100;
    max-height: 110px;
    max-width: 110px;
}

.social-link {
    font-size:30px;
    padding:5px;
    text-decoration:none;
    color: black;
}

.header-links{
    font-size: 16px;
    padding: 5px;
    text-decoration: none;
    color: black;
}

.AboutUs {
    background-color:rgb(249 249 249);
    padding:5px 0px;
    margin: 0px;
    text-align:center;
    color:#111
}

.tab-icon {
    font-size:20px;
    padding:10px;
    color: black;
<<<<<<< HEAD
}

.border-style{
    border-style: groove;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 3px 3px;
}

.prediction-bar {
    margin-left: 90px;
    margin-top: 30px;
    text-align: center;
=======
>>>>>>> bbf68ecec423a8fc9e0c8ee926df2f9f40489dbc
}
